<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar
        class="bg-primary text-white"
      >
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
        <q-btn flat color="primary" :to="{ name: 'home' }">
          <q-avatar>
            <img src="~assets/mushroom.png">
          </q-avatar>
        </q-btn>
          
        <q-toolbar-title >
          Champi App
        </q-toolbar-title>

        <q-toggle  
          v-model="dark"
          color="accent"
          icon="dark_mode"
          @input="setDarkMode(dark)"
        />

        <q-separator dark vertical inset />

        <q-avatar v-if="user.avatar" class="q-ma-md">
          <img v-if="user.avatar" class="contain" :src="avatarPath">
        </q-avatar>
        <q-avatar v-else color="accent" icon="person" size="lg" class="q-ma-md"/>
          
        <q-separator dark vertical inset />

        <q-btn-dropdown stretch flat no-caps :label="userLabel">
        <q-list>
          <div v-if="logged">
            <q-item clickable v-close-popup :to="{ name: 'profile' }">
              <q-item-section avatar>
                <q-avatar icon="account_circle" color="accent" text-color="white" />
              </q-item-section>
            <q-item-section>
              <q-item-label>Profile</q-item-label>
            </q-item-section>
          </q-item>
          <q-item clickable v-close-popup @click="logout">
            <q-item-section avatar>
              <q-avatar icon="logout" color="accent" text-color="white" />
            </q-item-section>
            <q-item-section>
              <q-item-label>Logout</q-item-label>
            </q-item-section>
          </q-item>
          </div>
          <div v-else>
            <q-item clickable v-close-popup :to="{ name: 'signIn' }">
              <q-item-section avatar>
                <q-avatar icon="person_add" color="accent" text-color="white" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Sign in</q-item-label>
              </q-item-section>
            </q-item>
            <q-item clickable v-close-popup :to="{ name: 'login' }">
              <q-item-section avatar>
                <q-avatar icon="login" color="accent" text-color="white" />
              </q-item-section>
              <q-item-section>
                <q-item-label>Login</q-item-label>
              </q-item-section>
            </q-item>
          </div>
        </q-list>
      </q-btn-dropdown>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      bordered
    >
      <q-list>
        <div>
          <q-item-label
            header
            class="text-grey-8"
          >
          Visiteur
          </q-item-label>
          <EssentialLink
            v-for="link in visitorLinks"
            :key="link.title"
            v-bind="link"
          />
        </div>
        <div v-if="user">
          <q-item-label
            header
            class="text-grey-8"
          >
          Utilisateur
          </q-item-label>
          <EssentialLink
            v-for="link in userLinks"
            :key="link.title"
            v-bind="link"
          />
        </div>
        <div v-if="admin">
          <q-item-label
            header
            class="text-grey-8"
          >
          Admin
          </q-item-label>
          <EssentialLink
            v-for="link in adminLinks"
            :key="link.title"
            v-bind="link"
          />
        </div>
        <div v-if="superAdmin">
          <q-item-label
            header
            class="text-grey-8"
          >
          Super Admin
          </q-item-label>
          <EssentialLink
            v-for="link in superAdminLinks"
            :key="link.title"
            v-bind="link"
          />
        </div>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'

const linksVisitorData = [
  {
    title: "Champignons",
    caption: "Liste des champignons",
    icon: "list",
    link: "champignons"
  },
];
const linksUserData = [
  {
    title: "User Dashboard",
    caption: "Tableau de bord",
    icon: "person",
    link: "userBoard"
  },
  {
    title: "Upload Image",
    caption: "Envoyer une image",
    icon: "add_a_photo",
    link: "upload"
  },
  
];
const linksAdminData = [
  {
    title: "Admin Dashboard",
    caption: "Voir les modifications en attente",
    icon: "admin_panel_settings",
    link: "adminBoard"
  },
  {
    title: "Propositions",
    caption: "Liste des propositions en attente",
    icon: "list",
    link: "adminPropositions"
  },
];
const linksSuperAdminData = [
  {
    title: "SuperAdmin Dashboard",
    caption: "Dashboard",
    icon: "admin_panel_settings",
    link: "superAdminBoard"
  },
  {
    title: "Utilisateurs",
    caption: "Liste des utilisateurs",
    icon: "people",
    link: "users"
  },
];

export default {
  name: 'MainLayout',
  components: {
    EssentialLink
  },
  data () {
    return {
      leftDrawerOpen: false,
      visitorLinks: linksVisitorData,
      userLinks: linksUserData,
      adminLinks: linksAdminData,
      superAdminLinks: linksSuperAdminData,
      dark: false,
    }
  },
  computed:{
      user: (vm) => {
        if(vm.$store.state.auth.user){
          return vm.$store.state.auth.user;
        }
        return false;
      },
      avatarPath: (vm)=>{
        if(vm.$store.state.auth.user){
          return `${vm.$imgDir}${vm.user.avatar.filePath}`;
        }
      },
      logged: (vm) => {
        if(vm.user){
          return true;
        }
        return false;
      },
      admin: (vm) => vm.user  ? vm.user.roles.includes("ROLE_ADMIN") : false,
      superAdmin: (vm) => vm.user  ? vm.user.roles.includes("ROLE_SUPER_ADMIN") : false,
      userLabel: (vm) => {
        if(vm.$store.state.auth.user){
          return vm.$store.state.auth.user.username;
        }
        return "";
      },
  },
  created() {
    const night = localStorage.getItem('night');
    if(night === "true") {
      this.dark = true
      this.$q.dark.set(true);
    }
  },
  methods:{
    logout(){
      this.$store.dispatch("auth/logout").then(()=>{
        if(this.$route.path != "/"){
          this.$router.push({ name: 'home' })
        }
      });
    },
    setDarkMode(dark){
      this.$q.dark.set(dark);
      localStorage.setItem('night', dark);
    },
  }
}
</script>

<style lang="scss">
 .bg-lightgrey{
   background-color: $lightgrey;
 }
</style>
