<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App',
  created(){
    this.$store.dispatch("auth/set");
  }
}
</script>
<style lang="scss">
.contain{
  object-fit: cover;
}
</style>
