<template>
  <q-dialog v-model="visible" v-if="champignon">
    <q-card style="min-width:75%">
      <q-card-section>
        <q-toolbar>
          <q-avatar>
            <img src="~assets/mushroom.png" />
          </q-avatar>

          <q-toolbar-title v-if="champignon.nomCommun">{{
            champignon.nomCommun
          }}</q-toolbar-title>

          <q-btn flat round dense icon="close" @click="back" />
        </q-toolbar>
      </q-card-section>
      <q-separator />
      <q-card-section style="max-height: 75vh" class="scroll">
        <div v-if="champignon.images" class="row justify-around">
          <q-img
            v-for="image in champignon.images"
            :src="`${$imgDir}${image.filePath}`"
            style="height: 200px; max-width: 200px"
            :key="image.id"
          />
        </div>
        <div v-if="champignon.nomScientifique">
          <span class="text-weight-medium">Nom Latin : </span>
          <span class="text-grey-7">{{ champignon.nomScientifique }}</span>
        </div>
        <div v-if="champignon.famille">
          <span class="text-weight-medium">Famille : </span>
          <span class="text-grey-7">{{ champignon.famille }}</span>
        </div>
        <div v-if="champignon.chapeau">
          <span class="text-weight-medium">Chapeau : </span>
          <span class="text-grey-7">{{ champignon.chapeau }}</span>
        </div>
        <div v-if="champignon.pied">
          <span class="text-weight-medium">Pied : </span>
          <span class="text-grey-7">{{ champignon.pied }}</span>
        </div>
        <div v-if="champignon.lames">
          <span class="text-weight-medium">Lames : </span>
          <span class="text-grey-7">{{ champignon.lames }}</span>
        </div>
        <div v-if="champignon.anneau">
          <span class="text-weight-medium">Anneau : </span>
          <span class="text-grey-7">{{ champignon.anneau }}</span>
        </div>
        <div v-if="champignon.odeur">
          <span class="text-weight-medium">Odeur : </span>
          <span class="text-grey-7">{{ champignon.odeur }}</span>
        </div>
        <div v-if="champignon.biotopes">
          <span class="text-weight-medium">Biotopes : </span>
          <span class="text-grey-7">{{ champignon.biotopes }}</span>
        </div>
        <div v-if="champignon.synonymes">
          <span class="text-weight-medium">Synonymes : </span>
          <span class="text-grey-7">{{ champignon.synonymes }}</span>
        </div>
        <div v-if="champignon.periodeCueillette">
          <span class="text-weight-medium">Période de cueillette : </span>
          <span class="text-grey-7">{{ champignon.periodeCueillette }}</span>
        </div>
        <div v-if="champignon.commentaire">
          <span class="text-weight-medium">Commentaire : </span>
          <span class="text-grey-7">{{ champignon.commentaire }}</span>
        </div>
        <div v-if="champignon.quality">
          <span class="text-weight-medium">Commestibilité : </span>
          <span class="text-grey-7">{{ champignon.quality }}</span>
        </div>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  name: "ChampignonDetail",
  props: {
    id: { type: String, default: undefined },
    champignon: { type: Object, default: undefined },
  },
  data() {
    return {};
  },
  computed: {
    visible: {
      get: function (vm) {
        return vm.id ? true : false;
      },
      set: function (newValue) {
        this.$router.go(-1);
      },
    },
  },
  methods: {
    back() {
      this.$router.go(-1);
    },
  },
};
</script>
