<template>
  <q-page>
    <q-list padding bordered class="rounded-borders">
      <q-expansion-item
        dense
        dense-toggle
        expand-separator
        icon="search"
        label="Filtres"
      >
        <q-card>
          <q-card-section class="row no-wrap">
            <div class="col-3 text-center text-bold">
              Chapeau
              <div class="q-pa-md">
                <q-option-group
                  :options="optionsChapeau"
                  type="radio"
                  v-model="selectedOptionChapeau"
                  class="text-left"
                />
              </div>
            </div>
            <q-separator vertical />
            <div class="col-3 text-center text-bold">
              <div style="height: 50%">
                Lames
                <q-toggle toggle-indeterminate v-model="selectedLames" />
                <div>
                  <strong>{{ JSON.stringify(selectedLames) }}</strong>
                </div>
              </div>
              <q-separator inset />
              <div>
                Anneau
                <q-toggle toggle-indeterminate v-model="selectedAnneau" />
                <div>
                  <strong>{{ JSON.stringify(selectedAnneau) }}</strong>
                </div>
              </div>
            </div>
            <q-separator vertical />
            <div class="col-3 text-center text-bold">
              Pied
              <div class="q-pa-md">
                <q-option-group
                  :options="optionsPied"
                  type="radio"
                  v-model="selectedOptionPied"
                  class="text-left"
                />
              </div>
            </div>
            <q-separator vertical />
            <div class="col-3 text-center text-bold">autre</div>
          </q-card-section>
          <q-card-actions class="row justify-center">
            <q-btn
              v-if="
                selectedOptionChapeau ||
                selectedOptionPied ||
                selectedLames ||
                selectedAnneau"
                class="text-center"
                @click="getSearch"
                color="primary"
              >Rechercher</q-btn
            >
          </q-card-actions>
        </q-card>
      </q-expansion-item>
    </q-list>
    <div class="text-h2 full-width text-center q-pa-md">
      Liste des champignons
    </div>
    <q-list bordered class="rounded-borders q-ma-md items-center" separator>
      <q-item
        v-for="champignon in champignons"
        :key="champignon.id"
        class="custom-hover"
      >
        <q-item-section avatar top>
          <q-avatar size="100px">
            <img
              v-if="champignon.images[0] !== undefined"
              class="contain"
              :src="`${IMG_URL}${champignon.images[0].filePath}`"
            />
          </q-avatar>
        </q-item-section>

        <q-item-section class="col-2 gt-sm">
          <q-item-label class="q-mt-sm text-h6">{{
            champignon.nomCommun
          }}</q-item-label>
        </q-item-section>

        <q-item-section>
          <q-item-label lines="1">
            <span
              v-if="champignon.nomScientifique"
              class="text-weight-medium"
              >{{ champignon.nomScientifique }}</span
            >
            <span v-if="champignon.nomScientifique"> | </span>
            <span v-if="champignon.famille" class="text-grey-8">{{
              champignon.famille
            }}</span>
          </q-item-label>
          <q-item-label>
            <div v-if="champignon.chapeau">
              <span class="text-weight-medium">Chapeau : </span
              ><span class="text-grey-7">{{ champignon.chapeau }}</span>
            </div>
            <div v-if="champignon.pied">
              <span class="text-weight-medium">Pied : </span
              ><span class="text-grey-7">{{ champignon.pied }}</span>
            </div>
          </q-item-label>
        </q-item-section>

        <q-item-section side>
          <div class="q-gutter-xs">
            <q-btn
              class="gt-xs"
              size="24px"
              flat
              dense
              round
              icon="visibility"
              :to="{
                name: 'champignon-detail',
                params: {
                  id: champignon.id.toString(),
                  champignon: champignon,
                },
              }"
            />
            <q-btn
              v-if="originalUser"
              class="gt-xs"
              size="24px"
              flat
              dense
              round
              icon="edit"
              @click="openModificationForm(champignon)"
            />
          </div>
        </q-item-section>
      </q-item>
      <q-separator spaced />
    </q-list>
    <router-view />
    <q-dialog v-model="dialog">
      <q-card v-if="selectedChampignon">
        <q-toolbar>
          <q-toolbar-title>Modification {{selectedChampignon.nomCommun}}</q-toolbar-title>
          <q-btn flat round dense icon="close" v-close-popup />
        </q-toolbar>
        <q-card-section>
          <!-- formulaire de modification -->
           <q-select 
            outlined 
            v-model="modification.champ" 
            :options="champsList" 
            label="Champ àmodifier" 
            emit-value
            map-options />
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>
import ChampiService from "../services/champi.service";

export default {
  name: "Champignons",
  data() {
    return {
      champignons: undefined,
      dialog:false,
      modification:{},
      selectedChampignon: undefined,
      champsList:[
         {
          label: 'nom commun',
          value: 1,
        },
        {
          label: 'synonymes',
          value: 2,
        },
        {
          label: 'chapeau',
          value: 3,
        },
        {
          label: 'lames',
          value: 4,
        },
        {
          label: 'anneau',
          value: 5,
        },
        {
          label: 'pied',
          value: 6,
        },
        {
          label: 'odeur',
          value: 7,
        },
        {
          label: 'période de cueillètte',
          value: 8,
        },
        {
          label: 'biotopes',
          value: 9,
        },
        {
          label: 'confusions',
          value: 10,
        },
        {
          label: 'famille',
          value: 11,
        },
        {
          label: 'nom scientifique',
          value: 12,
        },
        {
          label: 'image',
          value: 13,
        },
        {
          label: 'qualité',
          value: 14,
        },
      ],
      page: 1,
      IMG_URL: undefined,
      search: undefined,
      optionsChapeau: [
        { label: "Blanc", value: "blanc" },
        { label: "Brun", value: "brun" },
        { label: "Jaune", value: "jaune" },
        { label: "autre", value: "autre" },
      ],
      optionsPied: [
        { label: "Fin", value: ["fin", "s'aff", "allong"] },
        { label: "Épais", value: ["ventru", "trapu"] },
        { label: "Néant", value: "néant" },
      ],
      selectedOptionChapeau: null,
      selectedOptionPied: null,
      selectedLames: null,
      selectedAnneau: null,
    };
  },
  computed: {
    originalUser: (vm) => {
      if (vm.$store.state.auth.user) {
        return vm.$store.state.auth.user;
      } else {
        return undefined;
      }
    },
  },
  async created() {
    this.IMG_URL = this.$imgDir;
    await ChampiService.getAll(this.page).then((response) => {
      this.champignons = response.data["hydra:member"];
    });
  },
  mounted() {
    this.handleScroll();
  },
  beforeDestroy() {
    window.onscroll = () => {};
    if (this.timer !== void 0) {
      clearTimeout(this.timer);
      this.$q.loading.hide();
    }
  },
  methods: {
    handleScroll() {
      window.onscroll = () => {
        let bottomOfWindow =
          document.documentElement.scrollTop + window.innerHeight ===
          document.documentElement.offsetHeight;
        if (bottomOfWindow) {
          if (!this.search) {
            this.page++;
            ChampiService.getAll(this.page).then((response) => {
              response.data["hydra:member"].forEach((el) => {
                this.champignons.push(el);
                this.$q.loading.show();
                this.timer = setTimeout(() => {
                  this.$q.loading.hide();
                  this.timer = void 0;
                }, 750);
              });
            });
          } else {
            this.page++;
            ChampiService.getAllWithSearch(this.page, this.search).then(
              (response) => {
                response.data["hydra:member"].forEach((el) => {
                  this.champignons.push(el);
                  this.$q.loading.show();
                  this.timer = setTimeout(() => {
                    this.$q.loading.hide();
                    this.timer = void 0;
                  }, 750);
                });
              }
            );
          }
        }
      };
    },
    formatChapeauQuery(val){
      return "&chapeau=" +val;
    },
    openModificationForm(champignon){
      console.log(champignon);
      this.selectedChampignon = champignon;
      this.dialog = true;
    },
    formatPiedQuery(val){
      if(!val){
        return "&pied=n%C3%A9ant";
      }
      else{
        return "&notinclude_pied=n%C3%A9ant";
      }
    },
    async getSearch() {
      this.page = 1;
      console.log(this.search);
      console.log(this.selectedOptionChapeau);
      console.log(this.selectedOptionPied);
      console.log(this.selectedLames);
      console.log(this.selectedAnneau);
      const chapeauQuery = this.formatChapeauQuery(this.selectedOptionChapeau);
      const piedQuery = this.formatPiedQuery(this.selectedOptionPied);
      console.log(chapeauQuery);
      /*
      await ChampiService.getAllWithSearch(this.page, this.search).then(
        (response) => {
          this.champignons = response.data["hydra:member"];
        }
      );
      */
    },
  },
};
</script>

<style lang="scss" scoped>
.custom-hover {
  transition: 0.3s;
  &:hover {
    opacity: 0.7;
  }
}
</style>
