<template>
  <q-page class="flex justify-around items-start">
    <div class="text-h2 full-width text-center q-pa-md">Connexion</div>
    <q-card class="custom-card q-ma-sm">
      <q-card-section class="bg-secondary text-white">
        <div class="text-h6 text-center">Formulaire de connexion</div>
        <div class="text-center q-pt-sm">
          <q-btn label="S'inscrire" :to="{ name: 'signIn' }" color="primary" />
        </div>
      </q-card-section>

      <q-separator />

      <q-card-section v-if="error">
        <q-banner rounded inline-actions class="bg-negative text-white">
          {{ error }}
          <template v-slot:action>
            <q-btn flat color="white" icon="close" @click="error = !error" />
          </template>
        </q-banner>
      </q-card-section>

      <form @submit.prevent.stop="onSubmit" @reset.prevent.stop="onReset">
        <q-card-section class="q-pa-md" style="height: 250px flex flex-center">
          <q-input
            ref="userName"
            class="q-pa-md"
            outlined
            v-model="user.userName"
            label="Nom d'utilisateur"
            lazy-rules
            :rules="[
              (val) =>
                (val !== null && val !== '') ||
                'Veuillez renseigner votre identifiant',
            ]"
          />
          <q-input
            ref="password"
            class="q-pa-md"
            type="password"
            outlined
            v-model="user.password"
            label="Mot de passe"
            lazy-rules
            :rules="[
              (val) =>
                (val !== null && val !== '') ||
                'Veuillez renseigner votre mot de passe',
            ]"
          />
        </q-card-section>

        <q-separator />

        <q-card-actions align="around">
          <q-btn outlined type="reset" color="primary" flat class="q-ma-md">
            Effacer
          </q-btn>
          <q-btn outlined type="submit" color="primary" class="q-ma-md">
            Envoyer
          </q-btn>
        </q-card-actions>
      </form>
    </q-card>
  </q-page>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      user: {
        userName: undefined,
        password: undefined,
      },
      error: undefined,
    };
  },
  methods: {
    async login() {
      let response = await this.$store.dispatch("auth/login", this.user);
      if (response === true) {
        this.$router.push({ name: "home" });
        this.$q.notify({
          type: "positive",
          message: `Bienvenue ${this.user.userName}`,
        });
      } else {
        this.error = response;
      }
    },
    onSubmit() {
      this.$refs.userName.validate();
      this.$refs.password.validate();

      if (this.$refs.userName.hasError || this.$refs.password.hasError) {
        this.formHasError = true;
      } else {
        this.login();
      }
    },

    onReset() {
      this.user.userName = null;
      this.user.password = null;

      this.$refs.userName.resetValidation();
      this.$refs.password.resetValidation();
    },
  },
};
</script>

<style lang="scss" scoped>
.custom-card {
  width: 100%;
  max-width: 600px;
  min-width: 250px;
}
</style>
