<template>
  <q-page class="flex justify-around items-start">
    <div class="text-h2 full-width text-center q-pa-md">Profile</div>

    <q-card v-if="originalUser" class="custom-card q-ma-sm">
      <q-card-section class="bg-secondary text-white">
        <div class="text-h6 text-center">Modification des données</div>
      </q-card-section>

      <q-separator />

      <q-card-section v-if="error">
        <q-banner rounded inline-actions class="bg-negative text-white">
          {{ error }}
          <template v-slot:action>
            <q-btn flat color="white" icon="close" @click="error = !error" />
          </template>
        </q-banner>
      </q-card-section>

      <q-card-section class="row items-center" style="width: 100%">
        <div style="width: 75%">
          <q-input
            ref="email"
            class="q-pa-md email"
            outlined
            v-model="user.email"
            label="Email"
            lazy-rules
            :rules="[
              (val) =>
                (val !== null && val !== '') ||
                'Veuillez renseigner votre email',
            ]"
          />
        </div>
        <div
          v-if="isModifiedEmail"
          class="flex justify-around no-wrap"
          style="width: 25%"
        >
          <q-btn
            outlined
            color="primary"
            class="q-pa-xs"
            round
            @click="onSubmit(user)"
          >
            <q-icon name="done_outline" />
          </q-btn>
          <q-btn
            outlined
            color="accent"
            round
            class="q-pa-xs"
            @click="onResetEmail"
          >
            <q-icon name="backspace" />
          </q-btn>
        </div>
      </q-card-section>
      <q-expansion-item icon="key" label="Changer de mot de passe">
        <q-card>
          <q-card-section class="row items-center" style="width: 100%">
            <div style="width: 75%">
              <q-input
                ref="password"
                class="q-pa-md password"
                outlined
                type="password"
                v-model="user.password"
                label="Mot de passe"
                lazy-rules
                :rules="[
                  (val) =>
                    (val !== null && val !== '') ||
                    'Veuillez renseigner votre nouveau mot de passe',
                ]"
              />
            </div>
            <div style="width: 75%">
              <q-input
                ref="passwordConfirm"
                class="q-pa-md"
                outlined
                type="password"
                v-model="user.passwordConfirm"
                label="Confirmation"
                lazy-rules
                :rules="[
                  (val) =>
                    (val !== null && val !== '') ||
                    'Veuillez confirmer votre nouveau mot de passe',
                  (val) => passwordCheck(val),
                ]"
              />
            </div>
            <div
              v-if="isOkPassword"
              class="flex justify-around no-wrap"
              style="width: 100%"
            >
              <q-btn
                outlined
                color="primary"
                class="q-pa-xs"
                round
                @click="confirmPassword"
              >
                <q-icon name="done_outline" />
              </q-btn>
              <q-btn
                outlined
                color="accent"
                round
                class="q-pa-xs"
                @click="onResetPassword"
              >
                <q-icon name="backspace" />
              </q-btn>
            </div>
          </q-card-section>
        </q-card>
      </q-expansion-item>
      <q-expansion-item icon="account_circle" label="Avatar">
        <q-card>
          <q-card-section>
            <div class="q-gutter-sm row justify-around">
              <q-avatar size="100px">
                <img v-if="originalUser.avatar" class="contain" :src="`${IMG_URL}${originalUser.avatar.filePath}`">
              </q-avatar>
              <q-uploader
                style="max-width: 300px"
                v-bind="uploaderProps"
                accept=".jpg, image/*"
                max-files="1"
                @rejected="onRejected"
                @uploaded="refreshUser"
                @failed="failAvatar"
              />
            </div>
          </q-card-section>
        </q-card>
      </q-expansion-item>
    </q-card>

    <q-dialog v-model="confirm" persistent>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="key" color="primary" text-color="white" />
          <span class="q-ml-sm"
            >Confirmation de changement de mot de passe.</span
          >
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Annuler" color="primary" v-close-popup />
          <q-btn
            flat
            label="Enregistrer"
            color="primary"
            @click="savePassword(user)"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>

export default {
  name: "Profile",
  data() {
    return {
      user: undefined,
      error: undefined,
      confirm: false,
      options: undefined,
      IMG_URL: undefined,
      newAvatar: undefined,
    };
  },
  computed: {
    userId: (vm) => {
      if (vm.$store.state.auth.user) {
        return vm.$store.state.auth.user.id;
      } else {
        return undefined;
      }
    },
    uploaderProps: (vm) => {
      return {
        fieldName: "file",
        formFields: () => [
          {
            name: "entity",
            value: "user",
          },
        ],
        headers: () => [
          {
            name: "Authorization",
            value: `Bearer ${localStorage.getItem("jwt").replaceAll('"', '')}`,
          },
        ],
        label: "Seul un fichier Image est autorisé",
        ref: "uploader",
        style: "max-width: 100%; max-height:245px;",
        url: `${vm.$api}media_objects`,
      };
    },
    originalUser: (vm) => {
      if (vm.$store.state.auth.user) {
        vm.user = { ...vm.$store.state.auth.user };
        return vm.$store.state.auth.user;
      } else {
        return undefined;
      }
    },
    isModifiedEmail: (vm) => {
      if (vm.originalUser.email === vm.user.email) {
        return false;
      } else {
        return true;
      }
    },
    isModifiedAvatar: (vm) => {
      if (vm.newAvatar !== undefined) {
        return true;
      } else {
        return false;
      }
    },
    isOkPassword: (vm) => {
      if (
        vm.user.password === vm.user.passwordConfirm &&
        vm.user.password !== undefined &&
        vm.user.password !== ""
      ) {
        return true;
      } else {
        return false;
      }
    },
    avatar: (vm) => {
      return vm.user.avatar.filePath;
    },
  },
  created(){
    this.IMG_URL = this.$imgDir
  },
  methods: {
    async onSubmit(user) {
      let response = await this.$store.dispatch("user/save", user);
      if(response){
        this.$store.dispatch("auth/set");
        this.$q.notify({
          type: 'positive',
          message: 'Utilisateur modifié',
        }); 
      } else {
        this.error = "Modification échouée"
      }
    },
    refreshUser() {
      this.$store.dispatch("auth/set");
      this.$q.notify({
          type: 'positive',
          message: 'Avatar modifié',
        }); 
    },
    onResetUsername() {
      this.user = { ...this.originalUser };
      document.querySelector(".username").focus();
    },
    onResetEmail() {
      this.user = { ...this.originalUser };
      document.querySelector(".email").focus();
    },
    onResetPassword() {
      this.user.password = undefined;
      this.user.passwordConfirm = undefined;
      document.querySelector(".password").focus();
    },
    confirmPassword() {
      this.confirm = true;
    },
    async savePassword(user) {
      let response = await this.$store.dispatch("user/updatePassword", user);
      if(response){
        this.$store.dispatch("auth/set");
        this.$q.notify({
          type: 'positive',
          message: 'Utilisateur modifié',
        }); 
      } else {
        this.error = "Modification échouée"
      }
      this.confirm = false;
    },
    passwordCheck(val) {
      return (
        val === this.user.password ||
        "Le mot de passe et sa confirmation doivent être identiques"
      );
    },
    onRejected() {
      this.$q.notify({
        type: "negative",
        message: "Le fichier n'est pas valide",
      });
    },
    failAvatar(){
      this.$q.notify({
        type: "negative",
        message: "Erreur lors du changement d'avatar",
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.custom-card {
  width: 100%;
  max-width: 800px;
  min-width: 200px;
}
</style>
