<template>
  <q-page class="flex justify-around items-start">
    <div class="text-h2 full-width text-center q-pa-md">
      Inscription
    </div> 
    <q-card class="custom-card q-ma-sm">

      <q-card-section class="bg-secondary text-white">
        <div class="text-h6 text-center">Formulaire d'inscription</div>
        <div class="text-center q-pt-sm">
          <q-btn 
            label="Se connecter"
            :to="{ name: 'login' }"
            color="primary"
          />
        </div>
      </q-card-section>

      <q-separator />

      <q-card-section v-if="error">
        <q-banner rounded  inline-actions class="bg-negative text-white">
          {{error}}
          <template v-slot:action>
            <q-btn flat color="white" icon="close" @click="error = !error" />
          </template>
        </q-banner>
      </q-card-section>

      <form @submit.prevent.stop="onSubmit" @reset.prevent.stop="onReset" >
      <q-card-section class="q-pa-md" style="height:250px flex flex-center">
        <q-input 
          ref="userName"
          class="q-pa-md" 
          outlined 
          v-model="user.userName"
          label="Nom d'utilisateur" 
          lazy-rules
          :rules="[
            val => val !== null && val !== '' || 'Veuillez renseigner votre identifiant',
          ]"
        />
        <q-input 
          ref="email"
          class="q-pa-md" 
          outlined 
          v-model="user.email"
          label="email" 
          lazy-rules
          :rules="[
            val => val !== null && val !== '' || 'Veuillez renseigner votre email',
          ]"
        />  
        <q-input 
          ref="password"
          class="q-pa-md" 
          type="password"
          outlined 
          v-model="user.password" 
          label="Mot de passe"
          lazy-rules
          :rules="[
            val => val !== null && val !== '' || 'Veuillez renseigner votre mot de passe',
          ]"
        />
        <q-input 
          ref="passwordConfirm"
          class="q-pa-md" 
          type="password"
          outlined 
          v-model="user.passwordConfirm" 
          label="Confirmation du mot de passe"
          lazy-rules
          :rules="[
            val => val !== null && val !== '' || '* Requis',
            val => passwordCheck(val),
          ]"
        />
      </q-card-section>

      <q-separator />

      <q-card-actions align="around">
        <q-btn 
          outlined 
          type="reset" 
          color="primary" 
          flat
          class="q-ma-md">
            Effacer
        </q-btn>
        <q-btn 
          outlined 
          type="submit" 
          color="primary" 
          class="q-ma-md">
            Envoyer
        </q-btn>
      </q-card-actions>
      </form>

    </q-card>

  </q-page>
</template>

<script>
export default {
  name: 'SignIn',
  data() {
    return {
      user: {
        userName: undefined,
        password: undefined,
        passwordConfirm: undefined,
        email: undefined,
      },
       error:undefined,
    }
  },
  methods:{
    async register() {
      let response = await this.$store.dispatch("auth/register", this.user);
      if (response) {
        this.$router.push({name:"login"});
        this.$q.notify({
          type: 'positive',
          message: 'Utilisateur créé',
          caption: 'Vous pouvez vous connecter',
        }); 
      } else {
        this.error = "Le nom d'utilisateur est déjà pris"
      }
    },
    onSubmit () {
      this.$refs.userName.validate()
      this.$refs.email.validate()
      this.$refs.password.validate()
      this.$refs.passwordConfirm.validate()

      if (this.$refs.userName.hasError || this.$refs.password.hasError || this.$refs.passwordConfirm.hasError || this.$refs.email.hasError) {
        this.formHasError = true
      }
      else {
        this.register();
      }
    },
    passwordCheck(val){
        return val === this.user.password || 'Le mot de passe et sa confirmation doivent être identiques';
    },
    onReset () {
      this.user.userName = null
      this.user.password = null
      this.user.passwordConfirm = null
      this.user.email = null

      this.$refs.userName.resetValidation()
      this.$refs.email.resetValidation()
      this.$refs.password.resetValidation()
      this.$refs.passwordConfirm.resetValidation()
    }
  }
}
</script>

<style lang="scss" scoped>
  .custom-card{
    width: 100%;
    max-width: 600px;
    min-width: 250px;
  }
  
</style>
