<template>
  <q-page>
    <div class="text-h2 full-width text-center q-pa-md">SuperAdmin Dashboard</div>

    <div class="q-pa-md">
      <div class="q-gutter-y-md">
        <q-card>
          <q-tabs
            v-model="tab"
            dense
            class="text-grey"
            active-color="primary"
            indicator-color="primary"
            align="justify"
            narrow-indicator
          >
            <q-tab name="champignons" label="Champignons en attente">
              <q-avatar size="50px" class="q-ma-xs">
                <img class="contain" src="~assets/blast.png"/>
              </q-avatar>
            </q-tab> 
            <q-tab name="modifications" label="Modifications en attente">
              <q-avatar square size="50px" class="q-ma-xs">
                <img class="contain" src="~assets/modifs.png"/>
              </q-avatar>
            </q-tab>
            <q-tab name="propositions" label="Propositions en attente">
              <q-avatar size="50px" class="q-ma-xs">
                <img class="contain" src="~assets/prop.png"/>
              </q-avatar>
            </q-tab>
          </q-tabs>

          <q-separator />

          <q-tab-panels v-model="tab" animated>
            <q-tab-panel name="champignons">
              <div class="text-h6">Mails</div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </q-tab-panel>

            <q-tab-panel name="modifications">
              <div class="text-h6">Alarms</div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </q-tab-panel>

            <q-tab-panel name="propositions">
              <div class="text-h6">Movies</div>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </q-tab-panel>
          </q-tab-panels>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: "SuperAdminBoard",
  data() {
    return {
      tab: "champignons",
    };
  },
};
</script>
