<template>
  <q-page class="flex justify-around items-start">
    <div class="text-h2 full-width text-center q-pa-md">Envoyer une photo</div>
    <q-card class="custom-card q-ma-sm">
      <q-card-section class="bg-secondary text-white">
        <div class="text-h6 text-center">Sélectionner une image</div>
      </q-card-section>

      <q-separator />

      <q-card-section v-if="error">
        <q-banner rounded inline-actions class="bg-negative text-white">
          {{ error }}
          <template v-slot:action>
            <q-btn flat color="white" icon="close" @click="error = !error" />
          </template>
        </q-banner>
      </q-card-section>

      <q-card-section class="row justify-center" style="width: 100%">
        <q-uploader
          style="max-width: 300px"
          v-bind="uploaderProps"
          accept=".jpg, image/*"
          max-files="1"
          @rejected="onRejected"
          @uploaded="refreshUser"
          @failed="failImg"
        />
      </q-card-section>
    </q-card>
  </q-page>
</template>

<script>
export default {
  name: 'Champignons',
  data() {
    return {
      error: undefined,
      confirm: false,
      newImg: undefined,
    };
  },
  computed:{
    uploaderProps: (vm) => {
      return {
        fieldName: "file",
        formFields: () => [
          {
            name: "entity",
            value: "champignon",
          },
        ],
        headers: () => [
          {
            name: "Authorization",
            value: `Bearer ${localStorage.getItem("jwt").replaceAll('"', '')}`,
          },
        ],
        label: "Seul un fichier Image est autorisé",
        ref: "uploader",
        style: "max-width: 100%; max-height:245px;",
        url: `${vm.$api}media_objects`,
      };
    },
  },
  methods: {
    refreshUser() {
      this.$store.dispatch("auth/set");
      this.$q.notify({
        type: 'positive',
        message: 'Image envoyée',
      }); 
    },
    onRejected() {
      this.$q.notify({
        type: "negative",
        message: "Le fichier n'est pas valide",
      });
    },
    failImg(){
      this.$q.notify({
        type: "negative",
        message: "Erreur lors de l'envoi de l'image",
      });
    },
  }
}
</script>
<style lang="scss" scoped>
  .custom-card {
    width: 100%;
    max-width: 800px;
    min-width: 200px;
  }
</style>
