<template>
  <q-page>
    <div class="text-h2 full-width text-center q-pa-md">User Dashboard</div>

    <div class="q-pa-md" v-if="originalUserInfos">
      <div class="q-gutter-y-md">
        <q-card>
          <q-tabs
            v-model="tab"
            dense
            class="text-grey"
            active-color="primary"
            indicator-color="primary"
            align="justify"
            narrow-indicator
          >
            <q-tab name="champignons" label="Mes Champignons">
              <q-avatar size="50px" class="q-ma-xs">
                <img class="contain" src="~assets/blast.png" />
              </q-avatar>
            </q-tab>
            <q-tab name="modifications" label="Mes Modifications">
              <q-avatar square size="50px" class="q-ma-xs">
                <img class="contain" src="~assets/modifs.png" />
              </q-avatar>
            </q-tab>
            <q-tab name="images" label="Mes Images">
              <q-avatar square size="50px" class="q-ma-xs">
                <img class="contain" src="~assets/pic.png" />
              </q-avatar>
            </q-tab>
          </q-tabs>

          <q-separator />

          <q-tab-panels v-model="tab" animated>
            <q-tab-panel name="champignons">
              <div v-if="champs">
                {{ champs }}
              </div>
            </q-tab-panel>

            <q-tab-panel name="modifications">
              <div v-if="modifs">
                {{ modifs }}
              </div>
            </q-tab-panel>

            <q-tab-panel name="modifications">
              <div v-if="modifs">
                <q-table
                  title="Mes modifications en attente"
                  :data="modifs"
                  :columns="modifsColumns"
                  row-key="name"
                >

                </q-table>
                {{ modifs }}
              </div>
            </q-tab-panel>
         

            <q-tab-panel name="images">
              <div v-if="imgs">
                <q-table
                  title="Mes images en attente"
                  :data="imgs"
                  :columns="ImgsColumns"
                  row-key="name"
                >
                  <template v-slot:body-cell-image="props">
                    <q-td :props="props">
                      <q-avatar 
                        @click="showImg(props.row.image)"
                        class="cursor"
                      >
                        <img  :src="`${$imgDir}${props.row.image.filePath}`" />
                      </q-avatar>
                    </q-td>
                  </template>
                </q-table>
                {{ imgs }}
              </div>
            </q-tab-panel>
          </q-tab-panels>
        </q-card>
      </div>
    </div>
    <q-dialog v-model="dialog">
      <q-card>
        <q-toolbar>
          <q-toolbar-title>Photo</q-toolbar-title>
          <q-btn flat round dense icon="close" v-close-popup />
        </q-toolbar>
        <q-card-section>
          <q-img
          v-if="selectedImg"
           style="min-width: 200px;"
          :src="`${$imgDir}${selectedImg.filePath}`"
          contain
        />
        </q-card-section>
      </q-card>
    </q-dialog>
  </q-page>
</template>

<script>

export default {
  name: "UserBoard",
  data() {
    return {
      tab: "champignons",
      champs: undefined,
      imgs: undefined,
      modifs: undefined,
      infos: undefined,
      selectedImg: undefined,
      dialog: false,
      ImgsColumns: [
        {
          name: "image",
          required: true,
          label: "photo",
          align: "left",
          sortable: true,
        },
        {
          name: "createdAt",
          required: true,
          label: "Date de création",
          align: "left",
          field: (row) => new Date(row.createdAt),
          format:(val) => val.toLocaleString("fr-FR"),
          sortable: true,
        },
      ],
      modifsColumns: [
        {
          name: "createdAt",
          required: true,
          label: "Date de création",
          align: "left",
          field: (row) => new Date(row.createdAt),
          format:(val) => val.toLocaleString("fr-FR"),
          sortable: true,
        },
      ],
    };
  },
  computed: {
    userId: (vm) => {
      if (vm.$store.state.auth.user) {
        return vm.$store.state.auth.user.id;
      } else {
        return undefined;
      }
    },
    originalUserInfos: (vm) => {
      if (vm.$store.state.user.infos) {
        vm.infos = { ...vm.$store.state.user.infos };
        vm.imgs = vm.infos.modifications.filter((el) => el.champ === "13");
        vm.modifs = vm.infos.modifications.filter((el) => el.champ !== "13");
        vm.champs = vm.infos.champignons;
        return vm.$store.state.user.infos;
      } else {
        return undefined;
      }
    },
  },
  created() {
    if (!this.userId) {
      this.$q.loading.show();
      this.timer = setTimeout(() => {
        this.getInfos();
        this.$q.loading.hide();
        this.timer = void 0;
      }, 1500);
    } else {
      this.getInfos();
    }
  },
  beforeDestroy() {
    if (this.timer !== void 0) {
      clearTimeout(this.timer);
      this.$q.loading.hide();
    }
  },
  methods: {
    getInfos() {
      const infos = this.$store.dispatch("user/getMyInfos", this.userId);
    },
    showImg(image){
      this.selectedImg = image;
      this.dialog = true;
    }
  },
};
</script>
<style lang="scss" scoped>
.cursor {
  &:hover{
    cursor: pointer;
  }
}
</style>
