// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #8BC34A;
$secondary : #689F38;
$accent    : #FF5722;

$dark      : #212121;

$positive  : #689F38;
$negative  : #D32F2F;
$info      : #31CCEC;
$warning   : #F2C037;

$grey      : #757575;
$lightgrey : #BDBDBD;